{% extends 'base.html' %}
{% load static %}

{% block title %}  
    Lista "Ler Depois"
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/stored-post.css'%}">
{% endblock %}

{% block conteudo %}
    <section id="stored-posts">
        <h1>Lista "Ler Depois"</h1>
        <ul>
            {% if not has_posts %}
                <li>Você não tem posts em "Ler Depois"</li>
            {% endif %}
            {% for post in posts %}
                <li>
                    <a href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a>
                </li>    
            {% endfor %}        
        </ul>                
    </section>    
{% endblock %}