# Ignorar ambiente virtual
venv/
.env

# Ignorar arquivos de banco de dados SQLite
# *.sqlite3

# Ignorar arquivos de cache e logs do Python
__pycache__/
*.pyc
*.log

# Ignorar arquivos de mídia (se houver)
# media/

# Ignorar arquivos de configurações locais (se você tiver um arquivo local_settings.py, por exemplo)
local_settings.py

# Ignorar arquivos de editor (VS Code)
.vscode/